.Products {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    margin: 80px auto;
}

@media (max-width: 1000px) {
    .Products {
        width: 650px;
    }
}

@media (max-width: 650px) {
    .Products {
        width: 350px;
    }
}
