.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(70, 80, 74, 0.445);
    padding-left: 10px;
}

.Header h2 {
    font-size: larger;
}

.NavigationItems {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    align-items: center;
    /* justify-content: center; */
}

.NavigationItems li {
    padding: 10px 12px;
    font-size: 16pt;
    /* font-family: "Syne Mono", monos psace; */
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: antiquewhite;
}
